header{
	font-size: 1em;
}

/*top navbar*/

header nav{
	display: flex;
	justify-content: space-between;
	margin: 10px 15px;
	font-size: 1em;
}

header nav .nav-right{
	display: flex;
	align-items: center;
}

header nav .nav-right a{
	color: #444;
	margin: 0 10px;
	padding: 5px 10px;
	font-size: 1.1em;
}

header nav .nav-left{

}

header nav .nav-left .register-login-btn a{
	color: #444;
	margin: 0 10px;
	font-size: 0.9em;
}

header nav .nav-left .register-login-btn{
	border: 1px solid #666;
	padding: 5px 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
header nav .nav-left .register-login-btn i{
	color: #444;
	margin: 7px;
	font-size: 1.1em;
}





/*slider*/

.slider{
	position: relative;
	font-size: 1em;
}

.slider .slides .item{
	position: relative;
	display: none;
}

.slider .slides .item img{
	/*max-width: 500px;*/
	width: 100%;
	max-height: 1000px;
}

.slider .slides .item span{
	position: absolute;
	right: 10%;
	top: 40%;
	font-weight: bold;
	font-size: 1.6em;
}

.slider .slides .active{
	display: block;
	animation-name: fadeIn;
	animation-duration: 1s;
}

.slider .buttons{
	position: absolute;
	bottom: 30px;
	left: 40px;
	z-index: 1;
}

.slider .buttons i{
	color: rgba(0, 0, 0, 0.6);
	margin-right: 5px;
	cursor: pointer;
}

.slider .buttons i:hover{
	color: white;
}



/*product section*/

.home-page-product-section{
	padding: 20px 30px;
	font-size: 1em;
	/*display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
}

 .shopping-card{
	text-align: center;
	box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.2);
	margin: 10px 15px;
	border-radius: 5px;
	padding: 10px;
}

.shopping-card .img-sec{
	position: relative;
}

.shopping-card .title{
	color: #333;
	margin: 15px;
}

.shopping-card .buttons{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 15px;
}

.shopping-card .img-sec img{
	width: 60%;
	height:250px;
}

.shopping-card .img-sec .hot-offer{
	background-color: #e74c3c;
	color: white;
	padding: 3px 5px;
	border-radius: 5px;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 0.9em;
}

.shopping-card .img-sec .stars{
	position: absolute;
	left: 10px;
	top: 10px;
	color: #f1c40f;
}

.shopping-card .buttons .left{
	display: flex;
}

.shopping-card .buttons .right .price{
	color: #666;
	font-weight: bold;
}

.shopping-card .buttons .left .extend-btn{
	display: flex;
	margin-left: 5px;
	align-items: center;
	justify-content: space-between;
	color: white;
	background-color: #2ecc71;
	width: 100%;
	padding: 8px 12px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.75s;
}

.shopping-card .buttons .left .extend-btn:hover .b-text{
	/*width: 100px;*/
	color: #1b1b1b;
}

.shopping-card .buttons .left .extend-btn .b-text{
	/*display: none;*/
	color: white;
}

.shopping-card .buttons .left .extend-btn .b-icon{
	/*color: white;*/
	/*padding-top: 3px;*/
}

.shopping-card .buttons .left .extend-btn:hover .b-text{
	display: block;
}



/*special product*/

.super-offer-section{
	padding: 20px;
	font-size: 1em;
}

.super-offer-section .super-offer-box{
	text-align: center;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	margin: 0px 10px;
}

.banner{
	text-align: center;
	padding: 0px 5px;
}

.banner img{
	border-radius: 5px;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
	width: 80%;
}

.super-offer-box .title1{
	background-color: #e74c3c;
	color: white;
	padding: 8px 30px;
	display: inline-block;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.super-offer-box .body .image-container{
	text-align: center;
	padding: 30px;
}

.super-offer-box .body .image-container img{
	width: 100%;
}

.super-offer-box .body .specification{
	padding: 30px 5px;
}

.super-offer-box .body .specification .price-row{
	display: flex;
	justify-content: center;
	align-items: center;
}

.super-offer-box .body .specification .title{
	margin: 40px 0px;
	font-weight: bold;
	color: #444;
	font-size: 1.4em;
}

.super-offer-box .body .specification .counter-down{
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	margin: 10px 40px;
	padding-top: 20px;
	font-weight: bold;
	color: #666;
	font-size: 1.5em;
}

.super-offer-box .body .specification .remaining-time{
	color: #777;
	font-size: 0.8em;
}

.super-offer-box .body .specification .price-row .price{
	margin-left: 50px;
	margin-right: 20px;
	color: #444;
	font-size: 1.2em;
} 

.super-offer-box .body .specification .price-row .off{
	color: white;
	background-color: #e74c3c;
	padding: 5px 20px;
	border-radius: 25px;
	margin-left: 35px;
}



/*dragble list*/

.owl-stage-outer{
	direction: ltr;
}

.dragable-list img{
	width: 70% !important;
	margin: auto;
}

.dragable-list .title span{
	font-size: 1.3em;
	color: #444;
	border-bottom: 2px solid #e74c3c;
	text-shadow: 1px 1px black;
}

.dragable-list .title{
	padding: 0px 20px;
	padding-bottom: 20px;
}




/*footer*/

footer{
	overflow-x: hidden;
	background-color: #636e72;
	font-size: 1em;
}

footer .right{
	padding: 40px;
}

footer .left{
	padding: 40px;
}

footer .bottom{
	background-color: #2d3436;
	text-align: center;
	padding: 15px;
	color: rgba(255, 255, 255, 0.7);
}

footer .right .title{
	padding: 10px 0px;
	color: white;
	font-size: 1.2em;
}

footer .right .des{
	color: rgba(2550, 255, 255, 0.7);
	line-height: 1.9em;
	font-size: 0.9em;
}

footer .left .title{
	padding: 10px 0px;
	font-size: 1.2em;
	color: white;
}

footer .left .socials{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

footer .left .socials a{
	color: white;
	font-size: 1.4em;
}

#cart-total {
	display: inline;
	position: relative;
	text-align: center;
	color: #fff;
	background-color: red;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 14px;
	padding: 0 4px;
	/*justify-content: center;*/
	/*align-items: center;*/
	/*align-content: center;*/
}

.box-element{
	/*display: flex;*/
	box-shadow: hsl(0, 0%, 70%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 20px;
	margin: 40px;
	/*margin: 15px 10px 15px 10px;*/
	justify-content: space-between;
}