<section class=dragable-list>
    <div class="title">
        <span> گوشت مرغ </span>
    </div>

    <div id="owl-product-mo" class="owl-carousel owl-theme">
    {% for mo in morgh %}
        <div class="item">
            <div class="shopping-card">
                <div class="img-sec">
                    <img src="{{mo.image.url}}">
                    <!--<span class="hot-offer">پیشنهاد ویژه</span>-->
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                </div>
                <div class="title">{{mo.name}}</div>
                <div class="buttons">
                    <div class="right">
                        <span class="price">{{mo.price}}</span>
                    </div>
                    <div class="left">
                        <div class="extend-btn">
                            <a class="b-text" href="{% url 'meat:detail-view' mo.slug %}"> خرید </a>
                            <!--<a class="b-icon" href=""> <i class="fas fa-heart"></i> </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
